@import "../config.scss";


.homePage{
    position: absolute;
    height: 100%;
    background-color: $lightGrey;
    background-size: cover;



    h1{
        position: relative;
        display: inline-block;
        vertical-align: bottom;
        font-family: 'Merriweather Sans', sans-serif;
        font-size: 80px;
        line-height:normal;
        margin-left: 75px;
    }
    
    img{
        //position:absolute;
        //position: absolute;
        
        border-radius: 10px;
        border: 4px solid $blueGrey;
        padding: 4px;
        background-color: $darkGrey;

        display: inline-block;
        vertical-align: middle;
        width: 300px;
        //height: 30px;
        margin-top: 20px;
        margin-left:28%;
       // margin-right: auto;
        margin-bottom: 20px;
    }

    p{
        display: block;
        font-size: 2vmax;
        font-family: 'Baloo Tammudu 2',cursive;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

} 