@import "../config.scss";

header {
    position: relative;
    display:black;
    width: 100%;
    background: transparent;
    color: $christinaBlue;
    height: 90px;
    
    nav,
    nav ul,
    nav ul li{
        margin: 0;
        padding: 0;
    }



    nav {
        
        &.left{
            position: absolute;
            top: 50%; left: 15px;
            @include translateY(-50%);

            ul li {
                list-style-type: none;
                display: inline-block;
                margin-left: 50px;
               
    
                &.last{
                    margin: 0;
                }
            
                &:hover {
                    color: $mediumGrey;
                    transform: translateY(-5px);
                    @include transition(.2s ease-in-out);
                    
                }  
                /* a {
                    font-size: 19px;
                    line-height:normal;
                    color: $black;
                     &:hover {
                        color: $baige1;
                        @include transition(.2s ease-in-out);
                    }   
            
                
                }*/
            }

        }


// Basically this is an if statement - if the window size is large
// then employ the bigscreen nav stuff and make the smalle screen
// nav stuff display none - 
        @media only screen and (min-width: 770px){  
        
        &.littleScreenNav{
            display: none;
        }

        &.bigScreenNav{
        
        
        position: absolute;
        top: 50%; right: 15px;
        @include translateY(-50%);
    
       
        
        
        ul li {
            list-style-type: none;
            display: inline-block;
            margin-right: 50px;
           

            &.last{
                margin: 0;
            }
        
            a {
                font-size: 22px;
                line-height:normal;
                color: $christinaBlue;
                 &:hover {
                    color:$mediumGrey;
                    @include transition(.2s ease-in-out);
                }  
        
            
            }
        }
        
        } 
        }
        @media only screen and (max-width: 769px){
            &.bigScreenNav{
                display:none;
            }
            
        }

       
        
        //The other if statement - basically says if its smaller than 769, make it have
        //the other html for small screen and make big screen css 0
       

    
    
    } 
    
    //This is for the div stuff / for the button
   
   div{
    @media only screen and (min-width: 769px){   //if its large make the button disappear
        &.smallScreenButton{
            display:none;
        }   
    }
   
//FORMAT BUTTON HERE -- basically else statement


}
}