@import "../config.scss";

header {
    position: relative;
    display:black;
    width: 100%;
    background: $blueGrey;
    color: $white;
    height: 90px;
    
      .logo {
        position: absolute;
        top: 50%; left:15px;
        @include translateY(-50%);
    }
    
   
    
    
    nav,
    nav ul,
    nav ul li{
        margin: 0;
        padding: 0;
    }


    img{
        position: absolute;
        width: 80px; height: auto;
        top: 50%; left: 10px;
        @include translateY(-50%);

    }
    nav {
        position: absolute;
        top: 50%; right: 15px;
        @include translateY(-50%);
    
       
        
        
        ul li {
            list-style-type: none;
            display: inline-block;
            margin-right: 50px;
           

            &.last{
                margin: 0;
            }
        
            a {
                font-size: 19px;
                line-height:normal;
                color: $white;
                &:hover {
                    color: rgb(248, 137, 10);
                    @include transition(.2s ease-in-out);
                } 
            }
        
        
        } 
    
    } 


}